<div class="app-container">
  <header>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/web-tracker">Track Package</a></li>
        <li><a routerLink="/web-driver">Web Driver</a></li>
        <li><a routerLink="/web-admin-home">Web Admin</a></li>
        <li><a routerLink="/create-package">Create Package</a></li>
        <li><a routerLink="/create-delivery">Create Delivery</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
    <!-- This is where routed components will be displayed -->
  </main>

  <footer>
    <p>&copy; 2024 Package Tracker. All rights reserved.</p>
  </footer>
</div>
